*{
    box-sizing: border-box;
}
.container{
    max-width: 1000px;
    margin: auto;   
    background-color: darkgreen;
}
h1{
    text-align: center;
    font-size: 40px;
}
ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
    background-color: darkorange;

}
li.product-item{
    width: calc((100% - 90px) / 3);
    margin: 15px;
    border: 1px solid darkgreen;
    background-color: cyan;
    /* width: 33.333%;
    padding: 15px ;
    bỏ margin */

}
.product-item img{
    width: 100%;
}
.product-item a{
    text-decoration: none;
}
.product-item span{
    color: rgb(189, 74, 21);
}