*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: #2bcbba;
    width: 100%;
}
.form{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    max-width: 350px;
    background-color: #f5f6fa;
    padding: 10px 20px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
}
h1{
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
    color: rgb(73, 73, 73);

}
.form-item{
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    color: rgb(133, 133, 128);
}
.gender{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40px;
    color: rgb(133, 133, 128);
    margin-bottom: 15px;
    /* justify-content: space-around; */
}
.male, .female{
    width: 30%;
    font-size: 15px;
    justify-content: center;
    color:rgb(102, 102, 97)
}
.male{
    margin-left: 40px;
}
input{
    width: 100%;
    margin-bottom: 20px;
    height: 30px;
    border: none;
    border: 1px solid #bec0c9;
    border-radius: 15px;
    padding: 5px 15px;
    outline: none;
}
button{
    width: 100%;
    height: 30px;
    border: none;
    border: 1px solid #bec0c9;
    border-radius: 15px;
    padding: 5px 15px;
    outline: none;
    background-color: #00a8ff;
    color: #f5f6fa;
    font-size: 16px;
    margin-top: 10px;

}


